.profile-view-title {
  margin-top: 2rem;
}
.profile-card{
  margin: 3rem 0;
  font-size: 120%;
}
.favbook-card{
  margin: 3rem 0;
}
.card-title{
  margin: 1rem;
}
.book-card-title{
  display: inline;
  margin-right: 0;
}
.remove-favourite{
  float: right;
}
.update-form{
  margin-top: 0;
}
.favourites-item{
  min-width: 352px;
}