.movie-view{
  margin-top: 5rem;
}

.info{
  padding-top: 1rem;
}

.movie-title{
  margin-bottom: 1rem;
}
.movie-description{
  margin-bottom: 0.5rem;
}
.movie-genre{
  margin-bottom: 1rem;
}
.fav-button{
  margin-left: 1rem;
}
