
.book-card{
  margin: 1rem;
  height: 634.1px;
}
.img-book {
  padding: 2rem;
  height: 420px;
}

.card-text{
  height: 72px;
  text-overflow: ellipsis ;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .book-card {
    height: 750.1px;
  }
  .img-book{
    height: 580px;
  }
}