.book-view{
  margin-top: 5rem;
}

.info{
  padding-top: 1rem;
}

.book-title{
  margin-bottom: 1rem;
}
.book-description{
  margin-bottom: 0.5rem;
}
.book-genre{
  margin-bottom: 1rem;
}
.fav-button{
  margin-left: 1rem;
}